<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <ng-select [items]="studentData()" [searchable]="true" appendTo=".select-wrapper" bindLabel="dniLastNameFirstName"
        bindValue="id" appendTo="body" class="material-style-select" dropdownPosition="bottom"
        placeholder="{{'COMMON.SELECT_STUDENT' | translate}}" formControlName="studentId" [virtualScroll]="true"
        (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" [typeahead]="studentTypeahead$" required>
      </ng-select>
      <div *ngIf="registrationForm.get('studentId')?.invalid && registrationForm.get('studentId')?.touched"
        class="validation-error">
        <p>
          {{'COMMON.SELECT_STUDENT_VALIDATION' | translate}}
        </p>
      </div>
      <ng-select [items]="academicYearData()" [searchable]="true" appendTo=".select-wrapper" bindLabel="year"
        bindValue="id" appendTo="body" class="material-style-select" dropdownPosition="bottom"
        placeholder="{{'COMMON.SELECT_ACADEMIC_YEAR' | translate}}" formControlName="academicYearId" required>
      </ng-select>

      <ng-select [items]="gradeLevelData()" [searchable]="true" appendTo=".select-wrapper" bindLabel="gradeNumber"
        bindValue="id" appendTo="body" class="material-style-select" dropdownPosition="bottom"
        placeholder="{{'COMMON.SELECT_GRADE_LEVEL' | translate}}" formControlName="gradeLevelId" required>
      </ng-select>

      <ng-select [items]="shiftData()" [searchable]="true" appendTo=".select-wrapper" bindLabel="name" bindValue="id"
        appendTo="body" class="material-style-select" dropdownPosition="bottom"
        placeholder="{{'COMMON.SELECT_SHIFT' | translate}}" formControlName="shiftId" required>
      </ng-select>


      <ng-select [items]="sectionData()" [searchable]="true" appendTo=".select-wrapper" bindLabel="name" bindValue="id"
        appendTo="body" class="material-style-select" dropdownPosition="bottom"
        placeholder="{{'COMMON.SELECT_SECTION' | translate}}" formControlName="sectionId" required>
      </ng-select>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'COMMON.CANCEL' | translate}}</button>
  <button mat-raised-button color="primary" [disabled]="!registrationForm.valid || readonly"
    (click)="onSubmit()">{{'COMMON.SAVE' | translate}}</button>
</mat-dialog-actions>