<mat-card style="min-height: 500px;">
    <mat-card-header>
        <h1>{{'PERSON.TITULO_LISTADO' | translate}}</h1>
        <button (click)="addPerson()" mat-raised-button color="primary">{{'PERSON.ADD_OPTION' | translate}} (+)</button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errormessage">
            <h1>{{errormessage}}</h1>
            
        </div> 
        <form [formGroup] = "filterForm" (ngSubmit) = "applyFilter()">
            <mat-card-content [style.overflow]="'auto'">
                <mat-form-field>
                    <input matInput formControlName="apellido" (keyup)="applyFilter()" placeholder="{{'PERSON.FILTER_APELLIDO' | translate}}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="nombre" (keyup)="applyFilter()" placeholder="{{'PERSON.FILTER_NOMBRE' | translate}}" >
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="dni" type="number" (keyup)="applyFilter()" placeholder="{{'PERSON.FILTER_DNI' | translate}}">
                </mat-form-field>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-card-content>
        </form>
        <table *ngIf="!errormessage" matSort mat-table [dataSource]="datasource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'PERSON.ID' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>
              <ng-container matColumnDef="dni">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'PERSON.DNI' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.dni}}</td>
              </ng-container>              
            <ng-container matColumnDef="apellido">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{'PERSON.LAST_NAME' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{'PERSON.FIRST_NAME' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>            





            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{'COMMON.GRID_ACTIONS' | translate}}</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="personEdit(element.id)" mat-raised-button color="primary">{{'COMMON.UPDATE_OPTION' | translate}}</button>
                    <button (click)="personPrintCert(element.id)" mat-raised-button color="accent">{{'COMMON.CERTIFICADO' | translate}}</button>
                    <button
                        mat-raised-button
                        color="warn"
                        appConfirmDialog
                        [message]="'COMMON.CONFIRM_DELETE_MESSAGE' | translate"
                        (confirmed)="personDelete(element.id)">
                        {{'COMMON.DELETE_OPTION' | translate}}
                    </button>

                </td>
               
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColums"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator *ngIf="!errormessage" [length]="totalRows" 
            (page)="nextPageEvent($event)"
            [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>