
<mat-card-header>
        <mat-card-title class="white-text  ">{{title}}</mat-card-title>
</mat-card-header>

<mat-dialog-content class="dialog-container">
<mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="personalDataForm" errorMessage="Name is required.">
        <form [formGroup]="personalDataForm"  >
            <ng-template matStepLabel> {{'STUDENT.STEP_PERSONAL_DATA' | translate}}  </ng-template>
 
                    <mat-card-content [style.overflow]="'auto'" >
                        <mat-form-field>
                            <mat-label>{{'STUDENT.DNI' | translate}}</mat-label>
                            <input formControlName="dni" matInput class=".align-middle" numbersOnly>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.LAST_NAME' | translate}}</mat-label>
                            <input formControlName="lastName" matInput class=".align-middle">
                            <div *ngIf="lastNameControl && lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)"
                                class="validation-error">
                                <p *ngIf="lastNameControl.errors?.['required']">
                                    {{'STUDENT.LAST_NAME_VALIDATION' | translate}}
                                </p>
                            </div>

                        </mat-form-field>            
                        <mat-form-field>
                            <mat-label>{{'STUDENT.FIRST_NAME' | translate}}</mat-label>
                            <input formControlName="firstName" matInput class=".align-middle">
                        </mat-form-field>  


                    <mat-form-field>
                        <mat-label>{{'STUDENT.BIRTHDATE' | translate}}</mat-label>
                        <input formControlName="birthDate" [matDatepicker]="pickerBirthDate" matInput 
                            class=".align-middle">
                            <input matInput>
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerBirthDate></mat-datepicker>                      
                    </mat-form-field>

                    </mat-card-content>
                    <div>
                        
                        <button mat-raised-button color="primary" matStepperNext>{{'COMMON.NEXT_BTN' | translate}}></button>
                    </div>                    

        </form>
    </mat-step>
    <mat-step [stepControl]="personDocForm" >
        <form [formGroup]="personDocForm"  >
            <ng-template matStepLabel> {{'STUDENT.STEP_DOCUMENTATION' | translate}}  </ng-template>

                    <mat-card-content [style.overflow]="'auto'" >
                        <mat-form-field>
                            <mat-label>{{'STUDENT.FOTO_DNI' | translate}}</mat-label>
                            <input type="number" formControlName="fotoDni" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.CONSTANCIA_CUIL' | translate}}</mat-label>
                            <input formControlName="constanciaCuil" matInput class=".align-middle">
                        </mat-form-field>            
                        <mat-form-field>
                            <mat-label>{{'STUDENT.FIRST_NAME' | translate}}</mat-label>
                            <input formControlName="constancia6grado" matInput class=".align-middle">
                        </mat-form-field>  

                        <mat-form-field>    
                            <mat-label>{{'STUDENT.ACTA_NAC' | translate}} </mat-label>
                            <input formControlName="actaNacimiento" matInput class=".align-middle">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{'STUDENT.CONSTANCIA_REG' | translate}}</mat-label>
                            <input formControlName="constanciaRegular" matInput class=".align-middle">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{'STUDENT.FOTO_4X4' | translate}}</mat-label>
                            <input formControlName="foto4x4" matInput class=".align-middle">
                        </mat-form-field>
                    </mat-card-content>
                    <div>
                        <p>Go to a different step to see the error state</p>
                        <button mat-raised-button color="primary" matStepperPrevious>{{'COMMON.BACK_BTN' | translate}}></button>
                        <button mat-raised-button color="primary" matStepperNext>{{'COMMON.NEXT_BTN' | translate}}></button>
                    </div>

        </form>
    </mat-step>

    <mat-step [stepControl]="additionalDocForm">
        <form [formGroup]="additionalDocForm">
            <ng-template matStepLabel> {{'STUDENT.STEP_ADDITIONAL_DOCS' | translate}}  </ng-template>
                <mat-card-content >
                        <mat-form-field>
                            <mat-label>{{'STUDENT.CARNET_VAC' | translate}}</mat-label>
                            <input formControlName="fotoCarnetVac" matInput class=".align-middle">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{'STUDENT.FICHA_MEDIC' | translate}}</mat-label>
                            <input formControlName="fichaMedica" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.APTITUD_FISICA' | translate}}</mat-label>
                            <input formControlName="aptitudFisica" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.GRUPO_SANG' | translate}}</mat-label>
                            <input formControlName="grupoSanguineo" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.FICHA_INS' | translate}}</mat-label>
                            <input formControlName="fichaInscripcion" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.LIBRETA_6GRADO' | translate}}</mat-label>
                            <input formControlName="libreta6grado" matInput class=".align-middle">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'STUDENT.LIBRO_MATRIZ' | translate}}</mat-label>
                            <input formControlName="fotocopiaLibroMatriz" matInput class=".align-middle">
                        </mat-form-field>
                        <div>
                            <p>Go to a different step to see the error state</p>
                            <button mat-raised-button color="primary" matStepperPrevious>{{'COMMON.BACK_BTN' | translate}}></button>
                            <button mat-raised-button color="primary" matStepperNext>{{'COMMON.SAVE_BTN' | translate}} (click)="save()"></button>
                        </div>
                </mat-card-content>

        </form>
    </mat-step>
</mat-stepper>
</mat-dialog-content>