
<div *ngIf="ismenuvisible">
    <mat-toolbar  color="primary" class="mat-elevation-z4">
        <!-- button  (click)="(drawer.toggle())" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button -->
        <span>Menú</span>
        <span class="example-spacer"></span>
       
        <button [matMenuTriggerFor]="dropdownMenu" (click) = "showProfile()"  mat-icon-button  ><mat-icon >account_circle</mat-icon></button>
        <mat-menu  #dropdownMenu x-position="before"> <!-- Menu is positioned before the button -->
            <div *ngIf="(profile$ | async) as profile">

                <mat-card class="example-card" appearance="outlined">
                    <mat-card-content>
                        <p>Perfil de usuario</p>
                        </mat-card-content>                    
                    <mat-card-header>
                    <mat-card-title> {{profile.name}} </mat-card-title>
                    <mat-card-title> {{profile.preferred_username}} </mat-card-title>
                    </mat-card-header>


                </mat-card>
                
                <!-- Logout menu item -->
                <a mat-menu-item  (click)="logout()" >
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesión</span>
                </a>
                
                <!-- About menu item -->
                <!-- a mat-menu-item href="" routerLink="/about">
                <mat-icon>info_outline</mat-icon>
                <span>About</span>
                </a -->
            </div>

        </mat-menu>        
    </mat-toolbar>
    <div class="sidebar" [class.sidebar-close]="!openSidebar">
        <div class="logo-details">
          <div class="logo"></div>
        </div>
        <ul class="nav-links" id="nav-links">
          <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
            <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
              <a [routerLink]="[item.link]">
                <i [class]="item.icon"></i>
                <span class="link_name">{{item.link_name}}</span>
              </a>
            </div>
            <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
              <a>
                <i [class]="item.icon"></i>
                <span class="link_name">{{item.link_name}}XXXX</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
              <li><a class="link_name">{{item.link_name}}</a></li>
              <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
                <a [routerLink]="[item_sub.link]">{{item_sub.link_name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
</div>
<div style="text-align: center;min-height: 600px;" *ngIf="!ismenuvisible">
    <router-outlet></router-outlet>
</div>

