<mat-card style="min-height: 500px;">
    <mat-card-header>
        <h1>{{'STUDENT.LIST_TITLE' | translate}}</h1>
        <button (click) = "addStudent()" mat-fab color="primary" 
            style="margin-left: 70%;">
            <mat-icon>
                add
            </mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errormessage">
            <h1>{{errormessage}}</h1>
        </div> 
        <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
            <mat-card-content [style.overflow]="'auto'">
                <mat-form-field>
                    <input matInput formControlName="lastName" (keyup)="applyFilter()" placeholder="{{'STUDENT.FILTER_LASTNAME' | translate}}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="firstName" (keyup)="applyFilter()" placeholder="{{'STUDENT.FILTER_FIRSTNAME'}}" >
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="dni" type="number" (keyup)="applyFilter()" placeholder="{{'STUDENT.FILTER_DNI' | translate}}">
                </mat-form-field>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-card-content>
        </form>
        <table *ngIf="!errormessage" matSort mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'STUDENT.ID' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>
              <ng-container matColumnDef="dni">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'STUDENT.DNI' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.dni}}</td>
              </ng-container>              
            <ng-container matColumnDef="lastName">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{'STUDENT.LAST_NAME' | translate}}</th>
                <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'STUDENT.FIRT_NAME' | translate}} </th>
                <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
            </ng-container>            


            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{'COMMON.GRID_ACTIONS' | translate}}</th>
                <td mat-cell *matCellDef="let element">

                    <button mat-fab (click)="studentEdit(element.id)" color="primary" matTooltip="{{'COMMON.GRID_ACTION_EDIT_TOOLTIP' | translate}}" [attr.aria-label]="'COMMON.GRID_ACTION_EDIT_TOOLTIP' | translate">
                        <mat-icon>edit</mat-icon>
                    </button>                
                    <button mat-fab (click)="studentDetails(element.id)" color="accent" matTooltip="{{'COMMON.GRID_ACTION_VIEW_TOOLTIP' | translate}}" [attr.aria-label]="'COMMON.GRID_ACTION_VIEW_TOOLTIP' | translate">
                        <mat-icon>info</mat-icon>   
                    </button>
                    <button mat-fab (click)="studentDelete(element.id)" color="warn" matTooltip="{{'COMMON.GRID_ACTION_DELETE_TOOLTIP' | translate}}" [attr.aria-label]="'COMMON.GRID_ACTION_DELETE_TOOLTIP' | translate">
                        <mat-icon>delete</mat-icon> 
                    </button>                    
                </td>
                
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [length]="total()"
                       [pageSize]="pageSize()"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-footer>
</mat-card>
